<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Florería YBAF</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            padding: 30px;
            margin: 0;
        }

        h1, h2 {
            text-align: center;
            color: #2c3e50;
        }

        ul {
            list-style: none;
            padding: 0;
            max-width: 700px;
            margin: 20px auto;
        }

        li {
            background-color: #fff;
            border: 1px solid #ddd;
            margin-bottom: 10px;
            padding: 15px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        li a {
            margin-right: 15px;
            text-decoration: none;
            color: #3498db;
        }

        li a:hover {
            text-decoration: underline;
        }

        form {
            display: inline;
        }

        button {
            background-color: #6c6767;
            border: none;
            padding: 8px 12px;
            color: white;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #343030;
        }

        .add-flower-link {
            display: block;
            text-align: center;
            margin-top: 30px;
            font-size: 1.1rem;
            color: white;
            background-color: #595d5a;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 6px;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }

        .add-flower-link:hover {
            background-color: #0c0c0c;
        }
    </style>
</head>
<body>

    <h1>Florería YBAF</h1>
    <h2>Flores Disponibles</h2>

    <ul>
        <% flores.forEach(function(flor) { %>
            <li>
                <span>
                    <a href="/flor/<%= flor._id %>"><%= flor.nombre %> - <%= flor.color %></a>
                    <a href="/editar/<%= flor._id %>">Editar</a>
                </span>
                <form action="/eliminar/<%= flor._id %>" method="POST">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        <% }); %>
    </ul>

    <a href="/agregar" class="add-flower-link">Agregar nueva flor</a>
    
</body>
</html>


